#four-0-four-image{
    display: block;
    margin:  100px auto 30px ;
    width: 100%;
    padding: 50px;
    font-family: 'Avenir', sans-serif;
    color: #33475b;
    text-align: center;
    height: 250px;
  object-fit: cover;
  object-position: bottom;
   
    
    
}
.four-0-four-msg a{
    text-decoration: none;
    color:blue;
    
}